@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
  height: 100vh;
}

.main {
  background-color: white;
  /* display: flex; */
  /* flex-wrap: wrap; */
  max-width: 300px;
  /* margin: 150px auto; */
  border-radius: 14px;
  padding: 12px;
  padding-bottom: 25px;
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin: auto; */
}

img {
  width: 100%;
  border-radius: 14px;
  /* margin: 9px; */
  /* margin-right: 9px; */
  height: auto;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
}

.pic {
  /* margin: 9px auto; */
  width: 100%;
}

.texts {
  text-align: center;
  margin: 7px;
  font-family: sans-serif;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
}

p {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
}

h1 {
  font-size: 18px;
  margin: 10px;
}

@media screen and (max-width: 375px) {
  h1 {
    color: hsl(218, 44%, 22%);
  }
}
